{{- $keyfeatures := .Site.Params.keyfeatures }}
{{- $features := index $keyfeatures "features" }}
{{- $buttonText := index $keyfeatures "buttontext" }}
{{- $buttonLink := index $keyfeatures "buttonlink" }}

<section class="keyfeatures">
    <div class="container is-max-widescreen">
        <div class="keyfeatures-box-container">
            {{- range $features }}
            <div class="hero-cta">
            </div>
            <div class="keyfeatures-box-content keyfeatures-underline">
                <p>
                    <a href="{{ .link }}"><button class="feature-button">{{ .button }}</button></a>
                    <div class="keyfeatures-box-title">{{ .title }}</div>
                    <div class="keyfeatures-box-text">{{ .text | markdownify }}</div>

                </p>
            </div>
            {{- end }}
        </div>
    </div>
</section>
